In [1]:
import pandas as pd
import numpy as np
% matplotlib inline

train_online = pd.read_csv('input/ccf_online_stage1_train.csv')
train_offline = pd.read_csv('input/ccf_offline_stage1_train.csv')
test = pd.read_csv('input/ccf_offline_stage1_test_revised.csv')

In [2]:
train_online.head(10)

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513,null
1,13740231,34805,1,null,null,null,20160321
2,14336199,18907,0,null,null,null,20160618
3,14336199,18907,0,null,null,null,20160618
4,14336199,18907,0,null,null,null,20160618
5,14336199,18907,0,null,null,null,20160618
6,14336199,18907,0,null,null,null,20160618
7,14336199,18907,0,null,null,null,20160618
8,14336199,18907,0,null,null,null,20160618
9,14336199,18907,0,null,null,null,20160618

In [3]:
train_offline.head(10)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,null,null,0,null,20160217
1,1439408,4663,11002,150:20,1,20160528,null
2,1439408,2632,8591,20:1,0,20160217,null
3,1439408,2632,1078,20:1,0,20160319,null
4,1439408,2632,8591,20:1,0,20160613,null
5,1439408,2632,null,null,0,null,20160516
6,1439408,2632,8591,20:1,0,20160516,20160613
7,1832624,3381,7610,200:20,0,20160429,null
8,2029232,3381,11951,200:20,1,20160129,null
9,2029232,450,1532,30:5,0,20160530,null

In [4]:
test.head(10)

   User_id  Merchant_id  Coupon_id Discount_rate Distance  Date_received
0  4129537          450       9983          30:5        1       20160712
1  6949378         1300       3429          30:5     null       20160706
2  2166529         7113       6928        200:20        5       20160727
3  2166529         7113       1808        100:10        5       20160727
4  6172162         7605       6500          30:1        2       20160708
5  4005121          450       9983          30:5        0       20160706
6  4347394          450       9983          30:5        0       20160716
7  3094273          760      13602          30:5        1       20160727
8  5139970          450       9983          30:5       10       20160729
9  3237121          760      13602          30:5        1       20160703

In [5]:
# 将数据合并，以便统一对数据进行处理
all_offline = pd.concat([train_offline, test])
all_offline

,Coupon_id,Date,Date_received,Discount_rate,Distance,Merchant_id,User_id
0,null,20160217,null,null,0,2632,1439408
1,11002,null,20160528,150:20,1,4663,1439408
2,8591,null,20160217,20:1,0,2632,1439408
3,1078,null,20160319,20:1,0,2632,1439408
4,8591,null,20160613,20:1,0,2632,1439408
5,null,20160516,null,null,0,2632,1439408
6,8591,20160613,20160516,20:1,0,2632,1439408
7,7610,null,20160429,200:20,0,3381,1832624
8,11951,null,20160129,200:20,1,3381,2029232
9,1532,null,20160530,30:5,0,450,2029232
10,12737,null,20160519,20:1,0,6459,2029232
11,null,20160626,null,null,0,6459,2029232
12,null,20160519,null,null,0,6459,2029232
13,1097,null,20160606,50:10,null,6901,2747744
14,null,20160606,null,null,1,1579,196342
15,10698,null,20160606,20:1,1,1579,196342
16,9776,null,20160129,10:5,2,3381,2223968
17,12034,null,20160207,100:10,null,2099,73611
18,5054,null,20160421,200:30,10,1569,163606
19,7802,null,20160130,200:20,10,4833,3273056
20,7610,null,20160412,200:20,2,3381,94107
21,null,20160327,null,null,0,8390,253750
22,2366,null,20160518,30:5,0,6901,253750
23,7531,null,20160327,20:5,0,8390,253750
24,11002,null,20160528,150:20,null,4663,343660
25,13490,null,20160127,30:5,2,1041,376492
26,null,20160115,null,null,10,7884,1964720
27,6704,null,20160215,20:1,10,7884,1964720
28,null,20160519,null,null,0,3051,4191584
29,null,20160516,null,null,0,3051,4191584
...,...,...,...,...,...,...,...
113610,11799,NaN,20160717,100:10,1,1469,4194809
113611,13602,NaN,20160713,30:5,0,760,4194809
113612,10438,NaN,20160719,200:20,2,2050,6062585
113613,13602,NaN,20160719,30:5,10,760,6062585
113614,878,NaN,20160724,20:1,0,6955,6074873
113615,13602,NaN,20160728,30:5,7,760,6342137
113616,8059,NaN,20160704,50:10,1,5138,6342137
113617,9822,NaN,20160724,200:20,2,8305,6342137
113618,3429,NaN,20160718,30:5,10,1300,6342137
113619,5933,NaN,20160727,50:10,1,5138,4317689
113620,13602,NaN,20160711,30:5,2,760,5110265
113621,9983,NaN,20160711,30:5,2,450,5110265
113622,5874,NaN,20160710,50:1,1,5798,6422009
113623,9983,NaN,20160713,30:5,10,450,4851197
113624,2978,NaN,20160711,20:5,0,3621,4894205
113625,13602,NaN,20160714,30:5,5,760,7253501
113626,13602,NaN,20160720,30:5,7,760,6485501
113627,10438,NaN,20160723,200:20,0,2050,4918781
113628,9983,NaN,20160716,30:5,2,450,6497789
113629,2601,NaN,20160708,100:20,1,1469,7047677
113630,9983,NaN,20160718,30:5,0,450,6786557
113631,13602,NaN,20160719,30:5,1,760,6801917
113632,9144,NaN,20160705,10:1,0,7024,7066109
113633,13602,NaN,20160723,30:5,0,760,4451837
113634,2978,NaN,20160716,20:5,null,3621,5828093
113635,10418,NaN,20160716,30:5,10,5717,5828093
113636,7595,NaN,20160707,30:1,null,1699,6626813
113637,7590,NaN,20160712,50:5,null,7321,6626813
113638,13602,NaN,20160717,30:5,0,760,4547069
113639,613,NaN,20160728,20:1,5,7487,6675965

In [6]:
# 查看每一列的异常值（NaN）
all_offline.apply(lambda x: sum(x.isnull()))

Coupon_id             0
Date             113640
Date_received         0
Discount_rate         0
Distance              0
Merchant_id           0
User_id               0
dtype: int64

In [7]:
# Date的空值赋值成null，统一空值格式
all_offline['Date'] = all_offline['Date'].fillna('null')

In [8]:
# 将online和offline的数据合并
pd.merge(all_offline, train_online, on = ['User_id', 'Merchant_id'])

Empty DataFrame
Columns: [Coupon_id_x, Date_x, Date_received_x, Discount_rate_x, Distance, Merchant_id, User_id, Action, Coupon_id_y, Discount_rate_y, Date_received_y, Date_y]
Index: []

In [9]:
# 通过合并online和offline的数据，发现两者并无交集。而题目的要求是 线下优惠券的使用预测，因此暂时考虑直接排除online的数据，只用offline的数据

In [10]:
# 根据赛题的提示，将正负样本标注出来 
def is_used(column):
    if column['Coupon_id'] != 'null' and column['Date'] != 'null':
        # 领券了，消费了，正样本
        return 1  
    elif column['Coupon_id'] != 'null' and column['Date'] == 'null':
        # 领券了，未使用，负样本
        return -1
    else:
        # 没领券，（此时若Date不为空，则表示普通消费，没用券。）
        return 0

all_offline['is_used'] = all_offline.apply(is_used, axis =1)
all_offline.head(10)

,Coupon_id,Date,Date_received,Discount_rate,Distance,Merchant_id,User_id,is_used
0,null,20160217,null,null,0,2632,1439408,0
1,11002,null,20160528,150:20,1,4663,1439408,-1
2,8591,null,20160217,20:1,0,2632,1439408,-1
3,1078,null,20160319,20:1,0,2632,1439408,-1
4,8591,null,20160613,20:1,0,2632,1439408,-1
5,null,20160516,null,null,0,2632,1439408,0
6,8591,20160613,20160516,20:1,0,2632,1439408,1
7,7610,null,20160429,200:20,0,3381,1832624,-1
8,11951,null,20160129,200:20,1,3381,2029232,-1
9,1532,null,20160530,30:5,0,450,2029232,-1

In [11]:
# Coupon_id的具体数值，意义不大，因此要转成：是否有优惠券
all_offline['has_coupon'] = all_offline.apply(lambda x: 1 if x['Coupon_id']!='null' else 0, axis = 1)
all_offline.head(10)

,Coupon_id,Date,Date_received,Discount_rate,Distance,Merchant_id,User_id,is_used,has_coupon
0,null,20160217,null,null,0,2632,1439408,0,0
1,11002,null,20160528,150:20,1,4663,1439408,-1,1
2,8591,null,20160217,20:1,0,2632,1439408,-1,1
3,1078,null,20160319,20:1,0,2632,1439408,-1,1
4,8591,null,20160613,20:1,0,2632,1439408,-1,1
5,null,20160516,null,null,0,2632,1439408,0,0
6,8591,20160613,20160516,20:1,0,2632,1439408,1,1
7,7610,null,20160429,200:20,0,3381,1832624,-1,1
8,11951,null,20160129,200:20,1,3381,2029232,-1,1
9,1532,null,20160530,30:5,0,450,2029232,-1,1

In [12]:
# 由于Disount_rate 的特殊格式：‘150:20’，很难使算法直接使用。
# 同时根据实际情况，优惠力度是能影响是否使用优惠券的。因此需要对Discout_rate进行转化。
# 根据Discount_rate，标出折扣率
import re
regex = re.compile(r'^\d+:\d+$')  # todo 学习正则表达式
def percent(column):
    if column['Coupon_id'] == 'null' or column['Discount_rate'] == 'null':
        #  没领券 或 折扣为空
        return 'null'
    elif re.match(regex, column['Discount_rate']):
        # 匹配格式算折扣率
        num_max, num_min = column['Discount_rate'].split(':')
        return float(num_min)/float(num_max)
    else :
        # 直接给出的就是折扣率
        return column['Discount_rate']
# 新增一列特征，即统一的折扣率
all_offline['discount_percent'] = all_offline.apply(percent, axis =1)
all_offline.head(10)

,Coupon_id,Date,Date_received,Discount_rate,Distance,Merchant_id,User_id,is_used,has_coupon,discount_percent
0,null,20160217,null,null,0,2632,1439408,0,0,null
1,11002,null,20160528,150:20,1,4663,1439408,-1,1,0.133333
2,8591,null,20160217,20:1,0,2632,1439408,-1,1,0.05
3,1078,null,20160319,20:1,0,2632,1439408,-1,1,0.05
4,8591,null,20160613,20:1,0,2632,1439408,-1,1,0.05
5,null,20160516,null,null,0,2632,1439408,0,0,null
6,8591,20160613,20160516,20:1,0,2632,1439408,1,1,0.05
7,7610,null,20160429,200:20,0,3381,1832624,-1,1,0.1
8,11951,null,20160129,200:20,1,3381,2029232,-1,1,0.1
9,1532,null,20160530,30:5,0,450,2029232,-1,1,0.166667

In [13]:
# 进一步想：优惠力度会影响使用优惠券的概率。同时那种满N元才能优惠的，必定也能影响使用率
# 将满N元才能使用的优惠券，标成N元
def discount_limit(column):
    if column['Coupon_id'] == 'null' or column['Discount_rate'] == 'null':
        return 'null'
    elif re.match(regex,column['Discount_rate']):
        num_max, num_min = column['Discount_rate'].split(':')
        return num_max
    else:
        return 0

all_offline['discount_limit'] = all_offline.apply(discount_limit, axis =1)
all_offline.head(10)

,Coupon_id,Date,Date_received,Discount_rate,Distance,Merchant_id,User_id,is_used,has_coupon,discount_percent,discount_limit
0,null,20160217,null,null,0,2632,1439408,0,0,null,null
1,11002,null,20160528,150:20,1,4663,1439408,-1,1,0.133333,150
2,8591,null,20160217,20:1,0,2632,1439408,-1,1,0.05,20
3,1078,null,20160319,20:1,0,2632,1439408,-1,1,0.05,20
4,8591,null,20160613,20:1,0,2632,1439408,-1,1,0.05,20
5,null,20160516,null,null,0,2632,1439408,0,0,null,null
6,8591,20160613,20160516,20:1,0,2632,1439408,1,1,0.05,20
7,7610,null,20160429,200:20,0,3381,1832624,-1,1,0.1,200
8,11951,null,20160129,200:20,1,3381,2029232,-1,1,0.1,200
9,1532,null,20160530,30:5,0,450,2029232,-1,1,0.166667,30

In [14]:
# 由于赛题需要的是：15天内用券的概率。
# 因此，在is_used的基础上，再用领券时间Date_received 和使用时间Date进行比较，判断是否是在15天内使用
import datetime

def used_in_15day(column):
    if column['is_used'] == 1 and column['Date_received'] != 'null' and column['Date'] != 'null':
        days = (datetime.datetime.strptime(column['Date'], "%Y%m%d") -
                datetime.datetime.strptime(column['Date_received'], "%Y%m%d")).days
        if days < 15:
            return 1
        else:
            return 0
    else:
        return 'null'
all_offline['is_used_in_15day'] = all_offline.apply(used_in_15day, axis = 1)

In [15]:
# is_used_in_15day 是作为label来使用的，从上面的方法中，我们可以看出来，值包括0，1，null
# 0,1就是优惠券是否在15天内使用
# 而null表示：1，没有领券 2，领券了，但没使用
# 基于以上理解，我们将null修改为0，即：没有在15天内使用优惠券
all_offline['is_used_in_15day'] = all_offline['is_used_in_15day'].apply(lambda x: 0 if x == 'null' else x)
all_offline['is_used_in_15day'].value_counts()

0    1805100
1      63424
Name: is_used_in_15day, dtype: int64

In [16]:
# 再来观察discount_percent, discount_limit 这两个特征，除了含有具体数值以外，还有null值
# 先看看discount_percent的具体分布
all_offline['discount_percent'].value_counts()

null                   701602
0.1                    403589
0.16666666666666666    330255
0.25                   103748
0.05                    69099
0.2                     56084
0.3                     38425
0.15                    29585
0.5                     28785
0.03333333333333333     22195
0.95                    21559
0.13333333333333333     17685
0.3333333333333333      13497
0.9                      8912
0.4                      8300
0.06666666666666667      5452
0.8                      4176
0.02                     3693
0.85                      650
0.01                      551
0.5                       196
0.75                      121
0.2                       110
0.025                      75
0.6                        59
0.6666666666666666         56
0.7                        55
0.6                         9
0.06                        1
Name: discount_percent, dtype: int64

In [17]:
# 观察到null很多，如果给null一个特定值，比如均值或中位数或众数等，都不合适。
#  因为null代表的是：没有领优惠券。
# 因此，null可以考虑作为一个特征留下来
# 而其他数据，考虑给他们分段，也作为特征保留下来

# 将discount_percent分段
def discount_percent_layer(column):
    
    if column == 'null':
        return 'null'
    column = float(column)
    if column <= 0.1:
        return 0.1
    elif column <= 0.2:
        return 0.2
    elif column <= 0.3:
        return 0.3
    elif column <= 0.4:
        return 0.4
    else:
        return 0.5
all_offline['discount_percent_layer'] = all_offline['discount_percent'].apply(discount_percent_layer)
all_offline['discount_percent_layer'].value_counts()

null    701602
0.1     504655
0.2     433719
0.3     142173
0.5      64578
0.4      21797
Name: discount_percent_layer, dtype: int64

In [18]:
# 同样的，我们也给discount_limit分段 (满减需要花的金额)
def discount_limit_layer(column):
    if column == 'null':
        return 'null'
    column = float(column)
    if column <= 10:
        return 10
    elif column <= 20:
        return 20
    elif column <= 30:
        return 30
    elif column <= 50:
        return 50
    elif column <= 100:
        return 100
    elif column <= 200:
        return 200
    else:
        return 300
all_offline['discount_limit_layer'] = all_offline['discount_limit'].apply(discount_limit_layer)
all_offline['discount_limit_layer'].value_counts()

null    701602
30      364855
100     249251
200     177333
20      161645
50       98002
10       86406
300      29430
Name: discount_limit_layer, dtype: int64

In [19]:
# 此时看一下，经过处理的数据是什么样子
all_offline.head(10)

,Coupon_id,Date,Date_received,Discount_rate,Distance,Merchant_id,User_id,is_used,has_coupon,discount_percent,discount_limit,is_used_in_15day,discount_percent_layer,discount_limit_layer
0,null,20160217,null,null,0,2632,1439408,0,0,null,null,0,null,null
1,11002,null,20160528,150:20,1,4663,1439408,-1,1,0.133333,150,0,0.2,200
2,8591,null,20160217,20:1,0,2632,1439408,-1,1,0.05,20,0,0.1,20
3,1078,null,20160319,20:1,0,2632,1439408,-1,1,0.05,20,0,0.1,20
4,8591,null,20160613,20:1,0,2632,1439408,-1,1,0.05,20,0,0.1,20
5,null,20160516,null,null,0,2632,1439408,0,0,null,null,0,null,null
6,8591,20160613,20160516,20:1,0,2632,1439408,1,1,0.05,20,0,0.1,20
7,7610,null,20160429,200:20,0,3381,1832624,-1,1,0.1,200,0,0.1,200
8,11951,null,20160129,200:20,1,3381,2029232,-1,1,0.1,200,0,0.1,200
9,1532,null,20160530,30:5,0,450,2029232,-1,1,0.166667,30,0,0.2,30

In [20]:
# 此时，coupon_id 被处理成：has_coupon
# Date，Date_received被处理成: is_used_in_15day
# Discount_rate 被处理成： discount_percent 和discount_limit
# Merchant_id 和User_id是unicode,不需要处理
# 那么就剩下了Distance了

# 看下Distance的值分布
all_offline['Distance'].value_counts()

0       869937
1       245695
10      216837
2       127936
null    118067
3        82532
4        59091
5        44429
6        34662
7        27366
8        22795
9        19177
Name: Distance, dtype: int64

In [21]:
# 观察可知，Distance含有一部分null值，数量适中。这部分null表示距离未知。可以将null处理成均值，众数，中位数都可以
# 也可以保留null，使之成为一个单独特征
# 其他的1-10， 可以分段，但是似乎没什么必要
# 因此，决定直接保留所有值，到时候进行one-hot处理

# 到这里，所有的特征都处理完了。把处理结果保存一下，下次可以直接拿来使用，省得再跑一遍，浪费时间
# 保存之前，将测试集和验证集拆分开，分开保存
train_finally, test_finally = all_offline[:train_offline.shape[0]], all_offline[train_offline.shape[0]:]
all_offline.to_csv('output/all_offline.csv')
train_finally.to_csv('output/train_finally.csv')
test_finally.to_csv('output/test_finally.csv')

In [22]:
# 猜测部分
all_offline_new = all_offline.drop(['User_id','Merchant_id','Coupon_id','Discount_rate','Date_received','Date','discount_percent','discount_limit'],axis = 1)

In [23]:
# one-hot 处理
all_offline_new = pd.get_dummies(all_offline_new)
all_offline_new

,is_used,has_coupon,is_used_in_15day,Distance_0,Distance_1,Distance_10,Distance_2,Distance_3,Distance_4,Distance_5,...,discount_percent_layer_0.5,discount_percent_layer_null,discount_limit_layer_10,discount_limit_layer_20,discount_limit_layer_30,discount_limit_layer_50,discount_limit_layer_100,discount_limit_layer_200,discount_limit_layer_300,discount_limit_layer_null
0,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
6,1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
11,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
12,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
13,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
15,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
16,-1,1,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,0,0,0
17,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18,-1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,-1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,-1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
22,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
23,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
24,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,-1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
26,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
27,-1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
29,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113610,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
113611,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113612,-1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
113613,-1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113614,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
113615,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113616,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
113617,-1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
113618,-1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113619,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
113620,-1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113621,-1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113622,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
113623,-1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113624,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
113625,-1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
113626,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113627,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
113628,-1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113629,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
113630,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113631,-1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113632,-1,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
113633,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113634,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
113635,-1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113636,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113637,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
113638,-1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
113639,-1,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [24]:
# 把测试集和验证集分开
train_, test_ = all_offline_new[:train_offline.shape[0]], all_offline_new[train_offline.shape[0]:]

In [25]:
# 在进行算法前，又仔细看了下题目， 发现题目要求是：领取后15天内的使用概率
# 因此，我们考虑应该把没有领券的先去除掉
train__ = train_[train_['has_coupon'] == 1]

# 再由于测试合验证集的has_coupon值都是1，因此把这个特征删除
train__ = train__.drop(['has_coupon'], axis= 1)
test_ = test_.drop(['has_coupon'], axis= 1)

In [26]:
X_train = train__.drop(['is_used_in_15day'], axis=  1)
Y_train = pd.DataFrame({"is_used_in_15day": train__['is_used_in_15day']})
X_test  = test_.drop(['is_used_in_15day'], axis =1)

In [27]:
# 准备步骤都处理完了，接下来只要调用sklearn的算法就可以了 
# 很重要的一点：分类和回归是不同的
# 我们题目要求是：概率值，是回归值
# 方法有很多，我们先用最简单的线性回归
from sklearn.linear_model import LinearRegression
# from sklearn.svm import libsvm
clf = LinearRegression()
# clf = libsvm()
clf.fit(X_train, Y_train)
predict = clf.predict(X_test)

In [28]:
result = pd.read_csv('input/ccf_offline_stage1_test_revised.csv')
result['Probability'] = predict
result = result.drop(['Merchant_id','Discount_rate','Distance'], axis =1)
result

        User_id  Coupon_id  Date_received  Probability
0       4129537       9983       20160712     0.000225
1       6949378       3429       20160706     0.004490
2       2166529       6928       20160727    -0.003163
3       2166529       1808       20160727    -0.006969
4       6172162       6500       20160708    -0.000356
5       4005121       9983       20160706     0.001125
6       4347394       9983       20160716     0.001125
7       3094273      13602       20160727     0.000225
8       5139970       9983       20160729     0.002367
9       3237121      13602       20160703     0.000225
10      6224386       9983       20160716     0.000269
11      6488578      13602       20160712     0.001125
12      4164865       9983       20160703     0.000612
13      4164865       8059       20160706    -0.002400
14      5468674       9983       20160713     0.004490
15      6258178       9144       20160706     0.005085
16      3659521       7341       20160727    -0.001928
17      3659521      13181       20160717     0.001774
18      3659521      13602       20160718     0.001125
19      7333378      13602       20160704     0.001125
20      7333378        785       20160727     0.009503
21      4454914       2978       20160711     0.010402
22      6817282       8375       20160724    -0.005734
23      3149569      10418       20160721     0.001125
24      6301186       1715       20160718    -0.000743
25      6301186       4203       20160708    -0.003017
26      2891521      13602       20160724     0.001125
27      3422977      13602       20160727     0.001125
28      4771330      13602       20160726     0.000400
29      4513282      11799       20160712    -0.007827
...         ...        ...            ...          ...
113610  4194809      11799       20160717    -0.008002
113611  4194809      13602       20160713     0.001125
113612  6062585      10438       20160719    -0.003809
113613  6062585      13602       20160719     0.002367
113614  6074873        878       20160724     0.002630
113615  6342137      13602       20160728     0.000400
113616  6342137       8059       20160704    -0.002400
113617  6342137       9822       20160724    -0.003809
113618  6342137       3429       20160718     0.002367
113619  4317689       5933       20160727    -0.002400
113620  5110265      13602       20160711     0.000612
113621  5110265       9983       20160711     0.000612
113622  6422009       5874       20160710    -0.003368
113623  4851197       9983       20160713     0.002367
113624  4894205       2978       20160711     0.010402
113625  7253501      13602       20160714     0.001258
113626  6485501      13602       20160720     0.000400
113627  4918781      10438       20160723    -0.003296
113628  6497789       9983       20160716     0.000612
113629  7047677       2601       20160708    -0.007034
113630  6786557       9983       20160718     0.001125
113631  6801917      13602       20160719     0.000225
113632  7066109       9144       20160705     0.005085
113633  4451837      13602       20160723     0.001125
113634  5828093       2978       20160716     0.013767
113635  5828093      10418       20160716     0.002367
113636  6626813       7595       20160707     0.003522
113637  6626813       7590       20160712     0.000896
113638  4547069      13602       20160717     0.001125
113639  6675965        613       20160728     0.002763

[113640 rows x 4 columns]

In [29]:
# 观察发现预测结果有一部分是负值，而实际概率是没有负值的，因此将所有负值转化为0
result['Probability']  = result['Probability'].apply(lambda x:0 if x<0 else x)
result.to_csv('output/sample_submission.csv', index = False)